<div class="container py-4 px-2">
  <h1 class="text-4xl text-slate-800 font-bold">Invoice</h1>
</div>
<div class="container py-4 px-2 grid grid-cols-2 gap-4">
  <div class="space-y-4">
    <div class="flex flex-col gap-1">
      <label for="" class="text-base font-semibold">Name:</label>
      <input type="text" class="border-solid border-2 border-slate-500 focus:outline-none rounded-sm w-full sm:w-2/3"
        (input)="onNameChange($event.target.value)">
    </div>
    <div class="flex flex-col gap-1">
      <label for="" class="text-base font-semibold">Payment Date:</label>
      <input type="date" class="border-solid border-2 border-slate-500 focus:outline-none rounded-sm w-full sm:w-2/3"
        (input)="onDateChange($event.target.value)">
    </div>
    <div class="flex flex-col gap-1">
      <label for="" class="text-base font-semibold">Amount:</label>
      <input type="text" class="border-solid border-2 border-slate-500 focus:outline-none rounded-sm w-full sm:w-2/3"
        (input)="onAmountChange($event.target.value)">
    </div>
    <div class="flex flex-col gap-1">
      <label for="" class="text-base font-semibold">Height:</label>
      <input type="text" class="border-solid border-2 border-slate-500 focus:outline-none rounded-sm w-full sm:w-2/3"
        (input)="onHeightChange($event.target.value)">
    </div>
    <div class="flex flex-col gap-1">
      <label for="" class="text-base font-semibold">Height:</label>
      <input type="text" class="border-solid border-2 border-slate-500 focus:outline-none rounded-sm w-full sm:w-2/3"
        (input)="onHeightChange($event.target.value)">
    </div>
    <div class="flex flex-col gap-1">
      <label for="" class="text-base font-semibold">Mile:</label>
      <input type="text" class="border-solid border-2 border-slate-500 focus:outline-none rounded-sm w-full sm:w-2/3"
        (input)="onMilesChange($event.target.value)">
    </div>
  </div>
  <div class="space-y-4">
    <div class="flex flex-col gap-1">
      <p class="text-base font-semibold">Name:</p>
      <p class="h-[28px]">{{name | titlecase}}</p>
    </div>
    <div class="flex flex-col gap-1">
      <p class="text-base font-semibold">Payment Date:</p>
      <p class="h-[28px]">{{date | date:'shortDate' }}</p>
    </div>
    <div class="flex flex-col gap-1">
      <p class="text-base font-semibold">Amount:</p>
      <p class="h-[28px]">{{amount | currency}}</p>
    </div>
    <div class="flex flex-col gap-1">
      <p class="text-base font-semibold">Height:</p>
      <p class="h-[28px]">{{height | number:'1.2-2' }}</p>
    </div>
    <div class="flex flex-col gap-1">
      <p class="text-base font-semibold">Height:</p>
      <p class="h-[28px]">{{height | number:'1.2-2' }}</p>
    </div>
    <div class="flex flex-col gap-1">
      <p class="text-base font-semibold">Km:</p>
      <p class="h-[28px]">{{mile | convert:'km'}}</p>
    </div>
    <div class="flex flex-col gap-1">
      <p class="text-base font-semibold">Json Pipe:</p>
      <p class="h-[28px]"> {{lessons | json }}</p>
    </div>
  </div>

</div>